<div>
  <h1 style="text-align: center">Welcome</h1>
  <p style="font-size: 17px; text-align: justify">
    MyLocation is a webpage for you to get informations about your internet
    protocol be it your IP address, your internet provider, and the browser you
    currently use. Equipped with a map, MyLocation can show you information
    about your current location, such as the continent, country, and city you're
    currently in.
  </p>
  <p>
    For more information about MyLocation, visit the Github repository
    <a href="https://github.com/Ilham-Nugroho" target="_blank">here</a>
  </p>
</div>

<div style="margin: 50px 100px">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th colspan="2" id="browser"></th>
      </tr>

      <th colspan="2">Your IP Address Information</th>

      <tr>
        <td class="right">IP Address:</td>
        <td class="left" id="ipAddress"></td>
      </tr>
      <tr>
        <td class="right">ISP:</td>
        <td class="left" id="isp"></td>
      </tr>

      <th colspan="2">Your Location Information</th>

      <tr>
        <td class="right">Continent:</td>
        <td class="left" id="continent"></td>
      </tr>
      <tr>
        <td class="right">Country:</td>
        <td class="left" id="country"></td>
      </tr>
      <tr>
        <td class="right">Region:</td>
        <td class="left" id="region"></td>
      </tr>
      <tr>
        <td class="right">City:</td>
        <td class="left" id="city"></td>
      </tr>
      <tr>
        <td class="right">Timezone:</td>
        <td class="left" id="timezone"></td>
      </tr>
      <tr>
        <td class="right">Latitude:</td>
        <td class="left" id="latitude"></td>
      </tr>
      <tr>
        <td class="right">Longitude:</td>
        <td class="left" id="longitude"></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <div class="d-flex justify-content-center">
    <h1 style="font-size: 20px">Google Map of Your Location</h1>
  </div>

  <div class="d-flex justify-content-center">
    <div id="map"></div>
  </div>
</div>
